{% extends "base.html" %}

{% block title %}发布列表{% endblock %}

{% block breadcrumb %}
    <li><a>发布列表</a></li>
{% endblock %}


{% block content %}
    <div class="col-md-12" style="height: 500px">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="page-header" style="font-size: 15px;">列表-{{ now|date:'y-m-d' }}</span>
                {% if request.user.is_superuser %}
                    <a href="#"><button class="btn btn-primary pull-right">Add</button></a>
                {% endif %}
            </div>
        </div>
    <div class="panel-body">
        {% if deployments %}
        <table class="table table-bordered table-hover">
            <tr>
                <th rowspan="2" style="padding: 26px">
                    标题
                </th>
                <th rowspan="2" style="padding: 26px">
                    所属项目
                </th>
                <th colspan="2">
                    次级业务线
                </th>
                <th colspan="2">
                    一级务线
                </th>
                <th rowspan="2" style="padding: 26px">操作</th>
            </tr>
            <tr>
                <th>业务线</th>
                <th>负责人</th>
                <th>业务线</th>
                <th>负责人</th>
            </tr>
            {% for deplyment in deployments %}
                <tr>
                    <td>
                        {{ deplyment.name }}
                    </td>
                    <td>
                        {{ deplyment.project.name }}
                    </td>
                    <td>
                        {{ deplyment.project.businessline.name }}
                    </td>
                    <td>
                        {{ deplyment.project.owner.username }}
                    </td>
                    <td>
                        {{ deplyment.project.businessline.topline.name }}
                    </td>
                    <td>
                        {{ deplyment.project.businessline.topline.owner.username }}
                    </td>
                    <td>
                        <div class="btn-group">
                                <a href="#">
                                    <button class="btn btn-primary btn-xs start_deploy">开始</button>
                                </a>
                                <a>
                                    <button class="btn btn-danger btn-xs bookdelete" data-url="#">删除</button>
                                </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>

{#        <div class="panel panel-danger">#}
{#            <div class="panel-heading">#}
{#                <div class="panel-title">xxxx</div>#}
{#            </div>#}
{#            <div class="body">#}
{#                <div class="list-group">#}
{#                    <div>xxxx</div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        {% include 'paginator.html' %}
        {% else %}
        暂时没有可以发布的任务
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}

{% block footer_script %}
    <script>
        $(function () {
            $("#deployment_menu").addClass("active");
            $("#menu_deployment_list").addClass("active");
            $("table tr").children().addClass("text-center");
            $(".start_deploy").click(function (event) {
                event.preventDefault();
                var deploy_or_no = confirm("start this task?");
                if(deploy_or_no){
                    alert('go');
                }else{
                    alert('cancel');
                }


            });




            // end
        });

    </script>
{% endblock %}
