{% extends "base.html" %}

{% block title %}发布列表{% endblock %}

{% block breadcrumb %}
    <li><a>发布列表</a></li>
{% endblock %}


{% block content %}
    <div class="col-md-12" style="height: 500px">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="page-header" style="font-size: 15px;">列表-{{ now|date:'y-m-d' }}</span>
                {% if request.user.is_superuser %}
                    <a href="#"><button class="btn btn-primary pull-right">Add</button></a>
                {% endif %}
            </div>
        </div>
    <div class="panel-body">
        {% if deployments %}
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    标题
                </th>
                <th>
                    项目
                </th>
                <th>操作</th>
            </tr>
            {% for deplyment in deployments %}
                <tr>
                    <td>
                        {{ deplyment.name }}
                    </td>
                    <td>
                        {{ deplyment.project.name }}
                    </td>
                    <td>
                        <div class="btn-group">
                                <a href="#">
                                    <button class="btn btn-primary btn-xs">开始</button>
                                </a>
                                <a>
                                    <button class="btn btn-danger btn-xs bookdelete" data-url="#">删除</button>
                                </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>

{#        <div class="panel panel-danger">#}
{#            <div class="panel-heading">#}
{#                <div class="panel-title">xxxx</div>#}
{#            </div>#}
{#            <div class="body">#}
{#                <div class="list-group">#}
{#                    <div>xxxx</div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        {% include 'paginator.html' %}
        {% else %}
        暂时没有可以发布的任务
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}

{% block footer_script %}
    <script>
        $(function () {
            $("#app_menu").addClass("active");
            $("#menu_app_book_list").addClass("active");
        });

    </script>
{% endblock %}
