{% extends "base.html" %}
{% load guardian_tags %}

{% block title %}博客列表{% endblock %}

{% block breadcrumb %}
    <li><a>博客列表</a></li>
{% endblock %}


{% block content %}
    <div class="col-md-12" style="height: 500px">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="page-header" style="font-size: 15px;">列表-{{ now|date:'y-m-d' }}</span>
                <a href="{% url 'blog:post_create' %}"><button class="btn btn-primary
                pull-right">Add</button></a>
            </div>

        </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    标题
                </th>
                <th>
                    内容
                </th>
                <th>操作</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>
                        {{ post.title }}
                    </td>
                    <td>
                       {{ post.body|truncatechars:10|linebreaks }}
{#                        {{ post.body|truncatewords:10|linebreaks }}#}
                    </td>
                    <td>
                        <div class="btn-group">
                                <a href="{% url 'blog:post_update' post.pk %}">
                                    <button class="btn btn-primary btn-xs">更新</button>
                                </a>

                            {% get_obj_perms request.user for post as "obperms" %}
                            {% if 'delete_post' in obperms %}
                                <a>
                                <button class="btn btn-danger btn-xs bookdelete" data-url="#">删除</button>
                                </a>
                            {% endif %}
                        </div>
                    </td>

                </tr>
            {% endfor %}
        </table>

        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="panel-title">check 权限</div>
            </div>
            <div class="body">
                <div class="list-group">
{#                    <div>上下文携带当前用户的的所有perms</div>#}
{#                    {{ perms }}<br>#}
{#                    {{ perms.book.delete_book }}#}
{#                    <br>#}
{#                </div>#}
                    当用户对该obj有delete_post时，显示删除选项
            </div>
        </div>
        {% include 'paginator.html' %}
    </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block footer_script %}
    <script>
        $(function () {
            $("#blog_menu").addClass("active");
            $("#menu_blog_list").addClass("active");
        });

    </script>
{% endblock %}